.product-thumb {
    position: relative;
    overflow: hidden;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    background-color: $blueColor;
    transform: translateY(100%);
    transition: opacity $animationTime $animationCubic, transform $animationTime $animationCubic;

    &:hover {
        opacity: 1;
    }
}

.projects-set__link:hover .product-overlay,
.projects-set__link:focus .product-overlay {
    transform: translateY(0);
    opacity: 1;
}

.product-overlay__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    font-family: $fontRoboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $whiteColor;

    opacity: 0;

    transition: opacity $animationTime $animationCubic;
}


.projects-set__link:hover .product-overlay__text,
.projects-set__link:focus .product-overlay__text {
    opacity: 1;
}