.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
     ), url('../img/background.jpg')
}

.hero-section__tittle {
    margin-top: 0;
    margin-bottom: 30px;

    font-family: $fontRoboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $whiteColor;
}

.hero-section__btn {
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;

    text-decoration: none;
    background-color: $blueColor;
    border: none;
    color: $whiteColor;
    font-family: $fontRoboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;

    cursor: pointer;
}