$blueColor: #2196f3;
$tittleColor:#212121;
$textColor:#757575;
$whiteColor:#ffffff;
$backgroundColorDark:#2f303a;
$backgroundColorLight:#f5f4fa;

$animationCubic:cubic-bezier(0.4, 0, 0.2, 1);
$animationTime:250ms;

$fontRaleway: 'Raleway', sans-serif;
$fontRoboto: 'Roboto', sans-serif;